*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    
}
body{
    font-family: 'Mouse Memoirs', sans-serif;
    min-height: 100vh;
    /* background: linear-gradient(103deg, rgba(26,41,128,1) 1%, rgba(26,41,128,1) 15%, rgba(9,244,237,1) 100%); */

    background-image: url(Jan-Work_5.jpg);
    background-position: center;
    background-size: 100%;
    /* height: 100vh; */
    background-repeat: no-repeat;
    color: white;
}
img.img-fluid {
    width: 100%;
    height: 100vh;
    /* position: absolute; */
}
.heading {
    text-align: center;
    font-size: 60px;
    margin-top: 33px;
    color: #013d55;

}
.headTwo {
    font-size: 30px;
    text-align: center;
    color: #ff864d;

}
.hrclas{
    border: 2px solid black;
}
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.box {
    border: 2px solid white;
    background-color: white;
    color: black;
    margin: 10px;
    border-radius: 5px;
    height: 200px;
    width: 300px;
    padding: 15px;

}

#teextbox {
    width: 188px;
    padding: 10px;
    border: 1px solid #3498DB;
    border-radius: 5px;

}
input::placeholder{
    color: #0a9cfe;
}
input:focus{
   border: 2px solid blue;
}
form {
    margin: 10px 0px;
}

#submit_btn {
    padding: 10px;
    margin: 5px;
    border: none;
    font-size: 14px;
    font-weight: bold;
    background-color: #ff864d47;
    border-radius: 5px;
    box-shadow: inset 5px 4px 10px #fff2d2, inset -5px -5px 3px #ff864d;

}

#submit_btn:hover{
    box-shadow: 0px 2px 0px 0px #a8c3d5; ;
}
